<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <title>The HTML5 Herald</title>
    <meta name="description" content="Basic Scala/Datatables CRUD ">
    <meta name="author" content="AshtonIzmev">
    <!-- Thanks http://theme.stepofweb.com/Smarty/v1.1.3/Admin/HTML/tables-datatable-editable.html for layout -->

    <link href='{% static "css/datatables.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "css/essentials.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "css/buttons.dataTables.min.css" %}' rel=stylesheet type='text/css'>
    <!--[if lt IE 9]>
    <script src='{% static "js/html5shiv.js" %}'></script>
    <![endif]-->
    <script type="text/javascript" src='{% static "js/jquery-3.1.0.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery.dataTables-1.10.12.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/dataTables.bootstrap.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/select2.full.min.js" %}'></script>

    <script type="text/javascript" src='{% static "js/dataTables.buttons.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/buttons.flash.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jszip.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/pdfmake.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/vfs_fonts.js" %}'></script>
    <script type="text/javascript" src='{% static "js/buttons.html5.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/buttons.print.min.js" %}'></script>


    <script type="text/javascript">
      var ajax_url = 'http://localhost:8000';
    </script>
    <script type="text/javascript" src='{% static "js/crud.js" %}'></script>
</head>


<body>
{% block content %}{% endblock %}
</body>
</html>