{% extends "base.html" %}

{% block content %}

<h1>Books</h1>

<div id="content" class="padding-20">
	<!-- HTML DATATABLE -->
	<table class="table table-striped table-hover table-bordered" id="datatable">
		<thead>
			<tr>
                <th>Id</th>
                <th></th>
				<th>Name</th>
				<th>Length</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
            {% for book in object_list %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{% csrf_token %}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.pages }}</td>
                <td><a class="edit" href="">Edit</a></td>
                <td><a class="delete" href="">Delete</a></td>
            </tr>
            {% endfor %}
		</tbody>
	</table>
    <a href="{% url 'book_new' %}">New</a>
</div>


{% endblock content %}